body{
    background-image: url(../img/Fondo/fondo_cliente-4.png);
    /*background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;*/

}
.Titulo {
    font-size: 50px;
    text-align: center;
    color: rgb(255, 0, 0);
    
    
}
.Catalogo{
    background-color: rgba(0, 0, 0, 0.303);
    width: 1000px;
    height: 1200px;
    margin-top: 650px;
}
.productos{
    height: auto;
    display: flex;
    overflow: auto;
    
    
}

.producto{
    width: 100%;
    flex-wrap: wrap;
    display: flex;

    

}
.imagen{
    width: 200px;
    background-color: rgb(0, 0, 0);
    height: 280px;
    text-align: center;
    transition: box-shadow 0.1s;
    margin-left: 30px;
    margin-top: 20px;
 

}

.imagen img:hover{
    box-shadow: 0 0 15px rgba(255, 16, 203, 0.5);

}
.producto img{
    width: 180px;
    height: 200px;
    position: relative;
    padding-top: 10px;


}


.informacion{

    width: 180px;
    height: 100px;
    margin-left: -218px;
    margin-top: 220px;
    padding-left: 50px;

}
.name{
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 80px;
    margin-top: 10px;
    text-align: center;
    padding-top: 5px;
    margin-left: -32px; 
    font-size: 20px;
    overflow-x: hidden; 
}

.price{
    margin-top: -60px;
    text-align: center;
    margin-left: -32px; 
}
