body{
    background-image: url(../img/Fondo/fondo_cliente-4.png);
    /*background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;*/

}
.Titulo {
    font-size: 50px;
    text-align: center;
    color: rgb(255, 0, 0);
    
    
}
.Catalogo{
    background-color: aqua;
    width: 950px;
    height: 1200px;
    text-align: center;
    margin-top: 600px;
}
.productos{
    width: 900px;
    background-color: aliceblue;
    height: auto;
    overflow: auto;
    
    
}

.producto{
    width: 250px;
    background-color: rgb(224, 244, 4);
    text-align: center;
    margin: 0 auto;

}

.producto :hover{
    background-color: blue;
    
}

.producto img{
    width: 200px;
    margin: 20px;

}

.informacion{
    background-color: rgb(0, 133, 250);
    width: 250px;
    height: 100px;
}