body{

    background-image: url(../img/Fondo/fondo_cliente-4.png);
    /*background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;*/

}

.menu-iconos{
    text-align: center;
    width: 100%;
    transition: box-shadow 0.1s;
    backdrop-filter:blur(10px) ; /* corresponde al fondo de los menus, es como el desenfoque con respecto a la imagen trasera*/
    background-color: rgb(255, 0, 149);
    position: absolute;
    top: 135px;
    
}
.menu-iconos img{
    margin-left: 100px;
    width: 100px;
    height: auto;
    border-radius: 5px;
    border: none;
   
}
.menu-iconos img:hover{
    box-shadow: 0 0 20px rgba(255, 16, 203, 0.5);

}

.menu-iconos ul{
    flex-direction: row;

}

.Promociones{
    margin-top: 195px;
    width: 100%;
    height: 400px;
    background-color: rgba(255, 0, 234, 0.959);
    background-position: center;
    text-align: center;
    overflow: hidden;
    position: absolute;
    
    
}

.Promociones ul {
    display: flex;
    width: auto;
    height: 400px;
    animation: cambio 20s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}
.Promociones img{
    width: auto;
    height: 400px;
    margin-top: -16px;
    margin-left: -40px;
    

}

@keyframes cambio {

0% { margin-left: 0;}
20% { margin-left: 0;}

25% { margin-left: -100%;}
45% { margin-left: -100%;}

50% { margin-left: -200%;}
70% { margin-left: -200%;}

75% { margin-left: -300%;}
100% { margin-left: -300%;}
}

.Catalogoinicio{
    backdrop-filter:blur(10px) ; /* corresponde al fondo de los menus, es como el desenfoque con respecto a la imagen trasera*/
    background-color: rgba(243, 33, 142, 0.081);
    width: 970px;
    height: 1200px;
    text-align: center;
    position: absolute;
    margin-top: 650px;
    overflow: auto;
    
}


.Titulo_Top{
    font-size: 35px;
    color: rgb(228, 5, 180);
    font-family: 'Courgette', cursive;
    

}

.TOP{
    margin-left: 1020px;
    margin-top: 650px;
    transition: box-shadow 0.1s;
    position: absolute;
 

}

.Top{
    width: 320px;
    height: 1200px;
    text-align: center;
    overflow: auto;
    backdrop-filter:blur(10px) ; /* corresponde al fondo de los menus, es como el desenfoque con respecto a la imagen trasera*/
    background-color: rgba(243, 33, 142, 0.081);
    border-radius: 10px;
}

.Top img:hover{
    box-shadow: 0 0 15px rgba(255, 16, 203, 0.5);
}

.categorias{
    margin-top: 840px;

    background-color: rgba(154, 35, 138, 0.241);
    border-radius: 100px;
    width: 1268px;
    height: auto;
    overflow-x: auto;
   
}
.categorias img{
    margin-left: 5px;
    text-align: center;
    width: 70px;
    height: auto;
    border-radius: 5px;
}

.categorias ul{
    flex-direction: column;
}

.categorias img:hover{
    background: rgba(228, 16, 161, 0.226);
}

