

.Enca{
    margin-top: -10px;
    display: block;
    border-color: rgba(255, 0, 170, 0.123);
    border-width: 10px;
    border-style: solid;
    height: 150px;
    width: 1328px;
    background-color: rgba(248, 0, 165, 0.199);
    margin-left: -8px;
    position: absolute;
}

.Logo-Central{
    display: block;
    width: auto;
    height: 210px;
    margin-left: 590px;
    margin-top: -150px;
}   

.menu select{
    padding: 10px;
    font-size: 16px;
    margin-top: 30px;
    margin-left: -30px;
}

.buscador input{
    display: flex;
    margin-top: -50px;
    margin-left: 820px;
    padding: 10px;
    padding-right: 100px;
    font-size: 16px;
}

.anti{
    display: flex;
    margin-top: -10px;
    width: 30px;
    height: auto;
}
.conso{
    display: flex;
    margin-top: -30px;
    margin-left: 30px;
    width: 30px;
    height: auto;
}
.ero{
    display: flex;
    margin-top: -30px;
    margin-left: 60px;
    width: 30px;
    height: auto;
}
.lati{
    display: flex;
    margin-top: -30px;
    margin-left: 90px;
    width: 30px;
    height: auto;
}
.lubri{
    display: flex;
    margin-top: -30px;
    margin-left: 120px;
    width: 30px;
    height: auto;
}
.maqui{
    display: flex;
    margin-top: -30px;
    margin-left: 150px;
    width: 30px;
    height: auto;
}
.masc{
    display: flex;
    margin-top: -30px;
    margin-left: 180px;
    width: 30px;
    height: auto;
}
.mast{
    display: flex;
    margin-top: -30px;
    margin-left: 220px;
    width: 30px;
    height: auto;
}
.pen{
    display: flex;
    margin-top: -30px;
    margin-left: 250px;
    width: 30px;
    height: auto;
}
.ropa{
    display: flex;
    margin-top: -30px;
    margin-left: 280px;
    width: 30px;
    height: auto;
}
.sofa{
    display: flex;
    margin-top: -30px;
    margin-left: 320px;
    width: 30px;
    height: auto;
}
.usua{
    display: flex;
    position: relative;
    width: 50px;
    height: auto;
    margin-top: -95px;
    margin-left: 1280px;
    padding-right: 10px;
    
}

.carr{
    display: flex;
    position: absolute;
    width: 28px;
    height: auto;
    margin-top: -44px;
    margin-left: 1090px;

}

.menu-iconos{
    margin-left: 530px;
    margin-top: -50px;
    
}

.Promociones {
    margin-top: 142px;
    margin-left: -8px;
    width: 1328px;
    height: 150px;
    background-color: black;
    background-position: center;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
    border: 10px;
    border-color: rgba(255, 4, 142, 0.938);
    border-style: solid;
    
}


.Top{
    background-color: black;
    border-color: brown;
    border-style: solid;
    border-width: 10px;
    width: 160px;
    


}

.Top ul img{
    width: 100%;
    margin-left: -15px;
}