.banner{
    text-align: center;
    background-color: rgba(240, 0, 132, 0.199);
    display: none;
}

.banner img{
    width: 1000px;
    height: auto;
    border-color: brown;
    border-style: solid;
    border-width: 5px;
    border-radius: 20%;

}


.Navegador{
    width: auto;
    height: 130px;
    margin-top: 0px;
    margin-left: -10px;
    background-color: rgba(0, 0, 0, 0.938);
    border-color: rgb(10, 10, 10);
    border-style: solid;
    border-width: 10px; 
    
}
.menu{
    margin-left: 320px;
    margin-top: -115px;
}

.Logo{
    display: inline-flex;
    margin-top: -60px;
}
.Logo img{
    width: 250px;
    height: auto;
}

.buscador{
    display: flex;
    border-color: aquamarine;
    border-radius: 10px;
    border-style: solid;
    border-width: 6px;
    margin-top: -55px;
    position: absolute;
}
.buscador input{
    width: 600px;
    height: 30px;

}

.menus{
    width: 800px;
    margin-left: -65px;
    
    
}

.menus select{
    text-decoration: none;
    color: rgb(228, 5, 180);
    padding: 0px;
    border-color: transparent;
    background-color: transparent;
    border-radius: 10px;
    border-style: solid;
    border-width: 6px;
    font-size: 18px;
   
}
.menus select:hover{
    background: rgb(99, 2, 78);
}

.menu-iconos{
    display: flex;
  position: absolute;
  margin-left: 400px;
  background-color: rgba(5, 5, 5, 0.966);
  border-radius: 100px;
  width: 500px;
  height: 60px;
   
}
.menu-iconos img{
    margin-top: -4px;
    width: 35px;
    height: auto;
    background-color: rgba(253, 0, 253, 0.349);
    border-radius: 5px;
}

.caja{
    display: flex;
    margin-top: 60px;
    background-color: black;
    width: 1000px;
    border-width: 5px;
    border-color: aqua;
    border-style: solid;
}

.Produtos{
    border-color: black;
    border-style: solid;
    border-width: 5px;
    

}

.Productos img{
    width: 200px;
}

.Promociones{
        margin-top: 0px;
        margin-left: -50px;
        width: auto;
        height: 350px;
        background-color: rgba(255, 0, 234, 0.959);
        background-position: center;
        text-align: center;
        overflow: hidden;
        border-radius: 10px;
        border: 10px;
        border-color: rgba(255, 0, 234, 0.959);
        border-style: solid;
}

.Promociones ul {
    display: flex;
    height: 400px;
    animation: cambio 20s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    margin-top: 30px;
  }
  .Promociones img{
    width: auto;
    height: 350px;
    border-radius: 10px;
    padding: 0px;
    margin-top: -30px;
    border: 2px;
    border-color: rgb(255, 4, 180);
    border-style: solid;
  }

  @keyframes cambio {
  
    0% { margin-left: 0;}
    20% { margin-left: 0;}
  
    25% { margin-left: -100%;}
    45% { margin-left: -100%;}
  
    50% { margin-left: -200%;}
    70% { margin-left: -200%;}
  
    75% { margin-left: -300%;}
    100% { margin-left: -300%;}


  }