
  
  .Promociones ul {
    display: flex;
    height: 400px;
  animation: cambio 20s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    margin-top: 30px;
  }
  .Promociones img{
    width: auto;
    height: 150px;
    border-radius: 10px;
    padding: 0px;
    margin-top: -30px;
    border: 2px;
    border-color: rgb(255, 4, 180);
    border-style: solid;
  }

  @keyframes cambio {
  
    0% { margin-left: 0;}
    20% { margin-left: 0;}
  
    25% { margin-left: -100%;}
    45% { margin-left: -100%;}
  
    50% { margin-left: -200%;}
    70% { margin-left: -200%;}
  
    75% { margin-left: -300%;}
    100% { margin-left: -300%;}


  }
  