

.contai {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.menus {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.boton {
    display: inline-block;
    margin: 10px;
    padding: 15px 30px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.boton:hover {
    background-color: #b3007d81;
}
