body{ /* sirbe para formatear la pagina*/
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}	

  .contacto{
    max-width: 2000px; /*Corresponde al ancho maximo */
    width: 90%; /*Corresponde al ancho maximo en la pagina del div creado */
    display: grid;/*se utiliza para trabajar con css grid */
    grid-template-columns: 75% auto; /*Se utiliza para crear las 2 columnas, la primera tendra un espacio del 30% y la segunda que dice auto el resto */
    margin-top: -30px;
    margin-left: 30px;
}

.productos-destacados{
  margin-left: 100px;
}

.productos-destacados-contacto{
  width: 120px;
  height: 120px;
  margin-left: 60px;
}

.mensaje-parte1{
  width: 600px;
}

.mensaje-parte2{
  width: 600px;
  height: 400px;
}

.boton-enviar{
  width: 100px;
  height:30PX;
}


.contenedor_descripcion_productos{
  max-width: 2000px; /*Corresponde al ancho maximo */
  width: 90%; /*Corresponde al ancho maximo en la pagina del div creado */
  display: grid;/*se utiliza para trabajar con css grid */
  grid-template-columns: 30% auto ;/*Se utiliza para crear las 2 columnas, la primera tendra un espacio del 30% y la segunda que dice auto el resto */
  margin-left: 10px;
} 

.cantidad{
  text-align: left;
}


.descripcion{
 margin: 15px;
 margin-left: 20px;
 padding-left: 20px;  
 border: solid 2px rgb(228, 5, 180); /*es un bodege delgado*/
}


/* estilos de pie de pagina*/

footer{
  background: rgb(228, 5, 180);
  color: black;
  border-radius: 40px;
  padding-left: 15px;
  background-image: url('https://img.freepik.com/vector-gratis/fondo-rosa-ondas-abstractas_1393-257.jpg?w=826&t=st=1675124278~exp=1675124878~hmac=c3b575399a08fe5604e5c9e89e95d693fc90953d703053b6e038b81823153a66');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.pie-de-pagina{
  margin: 3px
}

.caja{
  display: table-cell;
  padding: 10px;
}

.iconos-pie-de-pagina{
  width: 60px;
  height: 50px;

}


.iconos-pie-de-pagina:hover{ /* para que se mueva la imagen*/
  transform: translateY(-7px);
  transition:transform 0.3s ease-in-out ; /* es el tiempo en que se mueva la imagen*/
}

.imagenes-medios-de-pago{
  width: 80px;
  height: 40px;
}

.Titulo2 {
  background-color: rgba(243, 75, 198, 0.373);
  text-align: center;
  margin-top: -12px;
}
.Titulo2 h2{
  font-size: 50px;
  color: rgb(0, 0, 0);

}

.categorias{
  width: 100%;
  height: 800px;
  background-color: aqua;

}

/*Aqui empieza los menus de los iconos*/

.menus-iconos-bloque1{
  display: flex;
  flex-direction: row;
  margin-left: 180px;
  margin-top: 40px;
}

.menus-iconos-bloque2{
  display: flex;
  flex-direction: row;
  margin-left: 180px;
}

.menus-iconos-bloque1-img{
width: 200px;
height: 250px;
gap: 5px;
border-radius: 15px;
margin-left: 40px;
}

.menus-iconos-bloque2-img{
  width: 200px;
  height: 250px;
  gap: 5px;
  border-radius: 15px;
  margin-left: 40px;
  }

.menus-iconos-bloque1-img:hover{ /* para que se mueva la imagen*/
  transform: translateY(-7px);
  transition:transform 0.3s ease-in-out ; /* es el tiempo en que se mueva la imagen*/
  }

.menus-iconos-bloque2-img:hover{ /* para que se mueva la imagen*/
  transform: translateY(-7px);
  transition:transform 0.3s ease-in-out ; /* es el tiempo en que se mueva la imagen*/
  }





/* fin de los estilos de pie de pagina*/
/*aqui empiesa de main y aside de las paginas de vibradores, consolodaores, extras, etc*/
.contenedor{

  max-width: 2000px; /*Corresponde al ancho maximo */
  width: 90%; /*Corresponde al ancho maximo en la pagina del div creado */
  display: grid;/*se utiliza para trabajar con css grid */
  grid-template-columns: 30% auto; /*Se utiliza para crear las 2 columnas, la primera tendra un espacio del 30% y la segunda que dice auto el resto */
  margin-left: 70px;
}

aside{
  padding: 0 15px;
}

aside .lista{
  padding-top: 20px;
  background: rgb(240, 213, 234); /*Corresponde al color de fondo */
  list-style: none; /*sirve para quitar los puntos de la lista */
  font-size: 18px;
  border-radius: 15px;
  background-image: url('https://img.freepik.com/vector-gratis/textura-acuarela-rosa_125540-958.jpg?w=826&t=st=1675462555~exp=1675463155~hmac=0abeefbcbf2406e3b065086dbe94e2338bf5f08e730a3f0b7f7e3afa29e75060');
  display: flex;
  flex-direction: column;
}


.lista li a:hover{
  background: rgb(99, 2, 78);/*sirve para que al momento de pasar el cursor por el menu, cambie de color*/ 
  border-radius: 15px; 
  padding: 3px; 
} 

.sub-menus{
  text-decoration: none;
  outline: none;
  color: rgb(228, 5, 180);
}




.cajas-productos-individuales{
  width: 250px;
  height: 350px;
  border-radius: 15px;
}

.imagen-debajo-sub-menus{
  width: 335px;
  height: 350px;
  border-radius: 15px;
  margin-top: 5px;

}


.contacto{
  max-width: 2000px; /*Corresponde al ancho maximo */
  width: 90%; /*Corresponde al ancho maximo en la pagina del div creado */
  display: grid;/*se utiliza para trabajar con css grid */
  grid-template-columns: 75% auto; /*Se utiliza para crear las 2 columnas, la primera tendra un espacio del 30% y la segunda que dice auto el resto */
  margin-top: -30px;
  margin-left: 30px;
}

.productos-destacados{
margin-left: 100px;
}

.productos-destacados-contacto{
width: 120px;
height: 120px;
margin-left: 60px;
}

.mensaje-parte1{
width: 600px;
}

.mensaje-parte2{
width: 600px;
height: 400px;
}

.boton-enviar{
width: 100px;
height:30PX;
}


.contenedor_descripcion_productos{
max-width: 2000px; /*Corresponde al ancho maximo */
width: 90%; /*Corresponde al ancho maximo en la pagina del div creado */
display: grid;/*se utiliza para trabajar con css grid */
grid-template-columns: 30% auto ;/*Se utiliza para crear las 2 columnas, la primera tendra un espacio del 30% y la segunda que dice auto el resto */
margin-left: 10px;
} 

.cantidad{
text-align: left;
}


.descripcion{
margin: 15px;
margin-left: 20px;
padding-left: 20px;  
border: solid 2px rgb(228, 5, 180); /*es un bodege delgado*/
}
