
.Titulo {
  background-color: rgba(243, 75, 198, 0.373);
  text-align: center;
  margin-top: -62px;
}
.Titulo h2{
  font-size: 50px;
  color: rgb(0, 0, 0);

}

.productos{
  height: auto;
  display: flex;
  overflow: auto;
  margin-top: -42px;
  background-color: rgba(0, 0, 255, 0.307);
}

.producto{
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  margin-left: 50px;
}

/*formato de visualizacion de productos en el administrador*/
.container_v{
  width: 250px;
  max-width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  }
  
  .card_v{
  background-color: rgb(255, 253, 253);
  width: 300px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  float: up;
  
  }
  
  .card_v:hover{
      transform: translate(-15px);
      box-shadow: 0 12px 16px #ff00bbb2;;
  }
  
  .nombre{
      font-size: 25px;
      color: rgb(0, 0, 0);
      font-family:  'Arial Narrow', Arial, sans-serif;
  }
  
  .descri{
      font-size: 12px;
      margin-top: -25px;
      color: rgb(0, 0, 0);
      font-family:  'Arial Narrow', Arial, sans-serif;
  }

  .precio{
      font-size: 20px;
      margin-top: -10px;
      color: rgb(255, 0, 0);
      font-family:  'Arial Narrow', Arial, sans-serif;
  }

  .card_v img{
      width: 200px;
      height: 200px;
  }

  
  
  .card_v a{
      font-weight: 500;
      text-decoration: none;
      color: rgb(161, 7, 71);
  }
  
  .agregar {
      background-color: #ff00bbb2; /* Color de fondo del botón */
      color: white; /* Color del texto del botón */
      padding: 10px 20px; /* Ajusta el padding para cambiar el tamaño del botón */
      border: none; /* Elimina el borde del botón */
      border-radius: 5px; /* Añade bordes redondeados al botón */
      cursor: pointer; /* Cambia el cursor al pasar por encima del botón */
      
    }

    


/*para crear las imagenes en movimiento*/
.Promociones{
  margin-top: 0px;
  width: 100%;
  height: 400px;
  background-color: rgba(255, 0, 234, 0.959);
  background-position: center;
  text-align: center;
  overflow: hidden;
  display: block;  
  
}

.Promociones ul {
  display: flex;
  width: auto;
  height: 400px;
  animation: cambio 20s infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}
.Promociones img{
  width: auto;
  height: 400px;
  margin-top: -16px;
  margin-left: -40px;
  

}

@keyframes cambio {

0% { margin-left: 0;}
20% { margin-left: 0;}

25% { margin-left: -100%;}
45% { margin-left: -100%;}

50% { margin-left: -200%;}
70% { margin-left: -200%;}

75% { margin-left: -300%;}
100% { margin-left: -300%;}
}


.menu-iconos{
  text-align: center;
  width: 100%;
  transition: box-shadow 0.1s;
  backdrop-filter:blur(10px) ; /* corresponde al fondo de los menus, es como el desenfoque con respecto a la imagen trasera*/
  background-color: rgb(255, 0, 149);
  display: block;
  margin-top: 35px;
  padding: 1px;

  
}
.menu-iconos img{
  margin-left: 100px;
  width: 100px;
  height: auto;
  border-radius: 5px;
  border: none;
 
}
.menu-iconos img:hover{
  box-shadow: 0 0 20px rgba(255, 16, 203, 0.5);

}


